<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>">
  <meta property="og:title" content="PIXIE-AR" />
  <meta property="og:description" content="website,AR,3D" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="img/4x4_keyin/WEI-logo.png" />

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700|Merriweather:400,700" rel="stylesheet"
    type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Kanit:700" rel="stylesheet" />
  <script>
    document.documentElement.className = "js";
  </script>
  <script src="assets/javascript/modernizr.js"></script>
  <!-- Modernizr -->

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="demo-1 loading">
  <!-- burger-menu start-->
  <a href="#cd-nav" class="cd-nav-trigger">Menu <span class="cd-nav-icon"></span>
    <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
      <circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157"
        stroke-dashoffset="157"></circle>
    </svg>
  </a>
  <div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
      <div class="cd-half-block">
        <h2>Navigation</h2>

        <nav>
          <ul class="cd-primary-nav">
            <li><a href="#0" class="selected">The team</a></li>
            <li><a href="#0">Our services</a></li>
            <li><a href="#0">Our projects</a></li>
            <li><a href="#0">Start a project</a></li>
            <li><a href="#0">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <!-- .cd-half-block -->

      <div class="cd-half-block">
        <address>
          <ul class="cd-contact-info">
            <li><a href="mailto:info@myemail.co">info@myemail.co</a></li>
            <li>0244-12345678</li>
            <li>
              <span>MyStreetName 24</span> <span>W1234X</span>
              <span>London, UK</span>
            </li>
          </ul>
        </address>
      </div>
      <!-- .cd-half-block -->
    </div>
    <!-- .cd-navigation-wrapper -->
  </div>
  <!-- .cd-nav -->

  <!-- grid-main start-->
  <main>
    <!-- header start-->
    <div class="header">
      <a href="#" class="logo"><img src="images/4x4_keyin/logo.svg" alt="logo" /></a>
      <div class="header-box">
        <a href="https://2018design4x4.tumblr.com/" class="link" targrt="_blank">#2018design4x4</a>
        <a href="#" class="about" targrt="_blank">About</a>
      </div>
    </div>

    <div class="blockstudio-title">
      <h2 class=".grid__item--name grid__item_mobole">2018</h2>
      <h2 class=".grid__item--name grid__item_mobole2">
        Annual Works Review
      </h2>
    </div>
    <!-- layout-1 -->
    <div class="grid grid--layout-1 grid--current">
      <a class="grid__item" href="#" target="_blank"></a> <a class="grid__item"
        href="#" target="_blank"></a>
      <a class="grid__item" href="https://ninewill.github.io/VK/" target="_blank"></a> <a class="grid__item" href="#" target="_blank"></a>
      <a class="grid__item" href="#" target="_blank"></a> <a class="grid__item" href="#" target="_blank"></a>
      <a class="grid__item" href="http://140.115.236.72/demo-projects/CD102/CD102G4/" target="_blank"></a> <a class="grid__item" href="#" target="_blank"></a>
      <a class="grid__item" href="#" target="_blank"></a> <a class="grid__item" href="#" target="_blank"></a>
      <a class="grid__item" href="#" target="_blank"></a> <a class="grid__item" href="#" target="_blank"></a>
      <a class="grid__item" href="#" target="_blank"></a> <a class="grid__item" href="#" target="_blank"></a>
      <a class="grid__item" href="#" target="_blank"></a> <a class="grid__item" href="#" target="_blank"></a>
      <h3 class="grid__item grid__item--title">webdesign</h3>
      <p class="grid__item grid__item--text">branding</p>
    </div>

    <!-- footer-start -->
    <footer>
      <div class="block-left">
        <div class="block-studio">
          <a href="#"><img src="images/4x4_keyin/logo-text.svg" alt="blockstudio-logo" /></a>
        </div>
        <div class="copyright">
          Pixie - AR©2019 Copyright. All Rights Reserved.
        </div>
      </div>
      <div class="block-right">
        <ul>
          <li>
            <a href="#"><img src="images/4x4_keyin/fb.svg" alt="facebook" /></a>
          </li>
          <li>
            <a href="#"><img src="images/4x4_keyin/ig.svg" alt="instagram" /></a>
          </li>
          <li>
            <a href="#"><img src="images/4x4_keyin/behance.svg" alt="behance" /></a>
          </li>
        </ul>
        <div class="description">
          Every element is a plate, present oneself<br />
          but also extrude others to create a new possibility.
        </div>
      </div>
    </footer>
    <div class="footer-bar"></div>
  </main>

  <script src="assets/javascript/jquery-2.1.1.js"></script>
  <script src="assets/javascript/main.js"></script>
  <script src="assets/javascript/imagesloaded.pkgd.min.js"></script>
  <script src="assets/javascript/revealer.js"></script>
  <script src="assets/javascript/demo.js"></script>
  <script>
    {
      const DOM = {};
      DOM.body = document.body;
      DOM.gridElems = Array.from(document.querySelectorAll(".grid"));

      imagesLoaded(
        document.querySelectorAll(".grid__item"),
        { background: true },
        () => {
          DOM.body.classList.remove("loading");
          new Slideshow(DOM.gridElems);
        }
      );
    }
  </script>
</body>

</html>