/* reset */
h3 {
  margin: 0;
}
body {
  background: #f4f7f6;
}
.block {
  width: 100%;
}
.effectContainer {
  /* height: 800px; */
  padding-bottom: 50%;
  position: relative;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
img {
  height: auto;
  width: 100%;
}
.project {
  padding: 10px;
}
.content {
  padding: 10px;
  background: #ffffff;
}
.projectName {
  padding-bottom: 10px;
}
.projectInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #40587c;
}
.tag {
  padding-top: 10px;
}
